<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
</head>

<body>
<form method="post">
    <label for="app">app</label>
    <input type="text" name="app"><br>
    <label for="user">user</label>
    <input type="text" name="user"><br>
    <label for="url">url</label>
    <input type="text" name="url"><br>
    <label for="head">head</label>
    <input type="text" name="head"><br>
    <label for="head_long">head_long</label>
    <input type="text" name="head_long"><br>
    <label for="git_log">git_log</label>
    <input type="text" name="git_log"><br>
    <label for="releaes">release</label>
    <input type="text" name="release"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
